*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background:  blue;
}

.div{
    background: red;
    border-radius: 10px;
}

.div img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background: rgb(233, 224, 224);
}